@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
*::-webkit-scrollbar {
	width: 0.75rem;
}
* {
	scrollbar-width: thin;
	scrollbar-color: #182441 #0f172a;
}
*::-webkit-scrollbar-track {
	background: #182441;
}

*::-webkit-scrollbar-thumb {
	background-color: #0f172a;
	border-radius: 0.875rem;
	border: 0.1875rem solid #0f172a;
}
